<%- include("partials/header") %>
<section>
	<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img src="/images/about/1.png" alt="" class="img-responsive w-100">
        <div class="caption justify-content-center">
            <div class="row">
				<div class="col-lg-6 d-none d-lg-flex align-items-center ilogo">
					<img src="/images/Logos/4.png" class="img-responsive" style="margin-left: 200px;">
				</div>
				<div class="col-lg-5 ml-5 img-text">
					<h1>
						Our Story
					</h1>
					<p>
						Buddha-CEO Foundation is a spiritual not-for-profit public trust being registered in Karnataka, India to help create compassionate and purpose driven business leaders.                             These leaders are empowered through the breath-mindfulness meditation based wisdom and techniques to live their dreams, grow their businesses and build harmonious                                 communities !
                            </p>
				</div>
			</div>
        </div>
    </div>
</div>
	
</section>
<section style="margin-top: 8%;">
	<div id="ag1" class="d-none d-lg-flex">
		<img src="/images/about/19.png">
	</div>
	<div id="ag2" class="d-none d-lg-flex">
		<img src="/images/about/20.png">
	</div>
<div class="container mt-5">
		<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1>Why The Foundation</h1>
			</div>
		</div>
		
		<div class="row mt-5 mb-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p>
					In today’s connected world, organizations touch many aspects of the lives of their employees, 
                    families and the larger society.  This is because they have access to and are in control of vast resources in terms of men (human), material, technology and money. The more                        they touch lives in  a sympathetic and responsible manner, the greater is the organizational growth and improvement in the quality of the lives they touch.  To implement                          this most effectively, the mindset of the leadership in terms of their vision, values and execution ability plays a critical role.  An organizational leader empowered with a                      spirituo-scientific mindset will have a higher vision, empathetic values and responsible execution ability.
                     </p>
			</div>
		</div>
	<div class="row mt-5 justify-content-center">
		<div class="col-lg-12">
			<img class="w-100" src="/images/about/2.png" alt="...">
		</div>
	</div>
	<div class="row mt-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p class="mt-5">
					     Leadership that is not compassionate can rarely be sympathetic and responsible to others. Leadership that is limited by rigid beliefs and values can rarely succeed in                            growing their business or creating more resources for others. Leadership that is greedy and dominating can rarely enable others to innovate and contribute to the                                 business growth. Leadership that lacks vision can rarely make a difference.</p>
				<p class="mt-5">
					According to some market studies, 94% of the current world businesses are not seeing the light of the day.  They simply fail and close down after a few months to years. Of                       the remaining 6% businesses that start, only 1% are growing their revenues,  meeting or exceeding their targets per the vision of their founders and leaders.  Balance 5%                         businesses are able to stay in business but only to survive with flat revenues (no growth), or very minimal growth, causing much frustration to their leadership, employees                       and stake holders. “In India, more than 90% of the companies (40+ million) are MSMEs (Micro, Small and Medium enterprises) and contribute to significant amount of GDP  and                       produce 100 million jobs. The success rate of these companies is vital for the Indian economy to grow. Hence, founders and leaders running these businesses will need to be                        transformed and empowered with spirituo-scientific temper.”</p>
				<p class="mt-5">
				  Lack of clear vision, limited beliefs and thinking, excessive control over teams and lack of clarity in execution in the CEO / Founder / leadership team are some of the core                     reasons for this poor performance. These qualities can easily be improved in any leader / individual  by empoweringthem with spirituo-scientific temper.</p>
			</div>
		</div>
	</div>
</section>
<section>
<div class="container">
	<div class="row mt-5">
			<div class="col-12 d-flex justify-content-center text">
				<h1>Spirituo-Scientific Temper</h1>
			</div>
		</div>
	<div class="row mt-5 justify-content-center mb-5">
			<div class="col col-lg-12 text">
					<p>
					Spirituo-Scientific temper in the context of businesses can be understood as : </p>
			</div>
			<div class="row justify-content-around mt-5">
				<div class="col-lg-3 col-sm-6 mt-2">
					<div class="card spi-card" id="card4">
						 <img class="card-img-top mt-4 mb-2" src="/images/about/8.png" alt="Card image cap" style="height: 75px; width: 40px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">We are ‘energy’ at our core and 
connected to each other deeply
</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-3 col-sm-6  mt-2">
					<div class="card spi-card" id="card1">
						<img class="card-img-top mt-4 mb-2" src="/images/about/10.png" alt="Card image cap" style="height: 75px; width: 70px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">We create our own realities all the time through our own thoughts and feelings</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-3 col-sm-6 mt-2">
					<div class="card spi-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/about/11.png" alt="Card image cap" style="height: 75px; width: 75px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">The world has abundance of resources for everyone.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-3 col-sm-6 mt-2">
					<div class="card spi-card" id="card3">
						<img class="card-img-top mt-4 mb-2" src="/images/about/9.png" alt="Card image cap" style="height: 75px; width: 75px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">A deeper universal intelligence that helps us 
to be our best in every situation.</p>
                            </div>
                        </div>
		</div>
	</div>
	</div>
	</div>
</section>
<section style="margin-top: 5%;">
	<div id="ag3" class="d-none d-lg-flex">
		<img src="/images/about/19.png">
	</div>
	<div id="ag4" class="d-none d-lg-flex">
		<img src="/images/about/20.png">
	</div>
<div class="container mt-5 d-none d-lg-block">
	<div class="row justify-content-center">
		<div class="col-lg-12">
			 <div class="thumbnail">
        <img src="/images/about/3.png" alt="" class="img-responsive w-100">
        <div class="caption justify-content-center">
				<div class="row justify-content-end">
				<div class="col-lg-8 col-sm-4 aboutimg">
					<h1>
						<strong>Vision</strong>
					</h1>
					<p>
						<strong>To build a world full of leaders who are meditative, compassionate and purpose driven for a harmonious and fulfilling life for everyone on the planet Earth                               </strong>
                    </p>
				</div>
			
			</div>
        </div>
    </div>
		</div>
	</div>
	<div class="row justify-content-center mt-5">
		<div class="col-lg-12">
			 <div class="thumbnail mt-5">
        <img src="/images/about/4.png" alt="" class="img-responsive w-100">
        <div class="caption justify-content-center">
				<div class="row justify-content-end">
				<div class="col-lg-8 col-sm-4 aboutimg" id="miss">
					<h1>
						<strong>Mission</strong>
					</h1>
					<p>
						<strong>To empower business leaders, entrepreneurs and students with scientific meditation wisdom</strong>
                    </p>
				</div>
			
			</div>
        
        </div>
    </div>
		</div>
	</div>
	
	</div>
</section>
<section class="mt-5">
	<div id="ag5" class="d-none d-lg-flex">
		<img src="/images/about/19.png">
	</div>
	<div id="ag6" class="d-none d-lg-flex">
		<img src="/images/about/20.png">
	</div>
	<div id="ag7" class="d-none d-lg-flex">
		<img src="/images/about/19.png">
	</div>
	<div class="container mt-5">
		<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1 class="mt-5">Our Objectives</h1>
			</div>
		</div>
		
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p>Our targeted audiences are individual leaders, leadership groups, entrepreneurs and aspiring leaders; from both private and public businesses as well as from non-profit                        and/or non-governmental organizations (NGO).</p>
				<p class="mt-5">
					The foundation envisages to carry out its mission through the following 3 main objectives:</p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex objective justify-content-center">
				<h1 class="mt-5">• TO TEACH MEDITATION •</h1>
			</div>
		</div>
		<div class="row mt-5 objective objective-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Develop and conduct foundational courses on meditation and spiritual science for our targeted audiences, with simple meditation techniques and literature, and enable them                         to impart meditation education to the business organizations and/or communities they serve.</p>
			</div>
		</div>
		<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Carry out long duration meditation & manifestation programs with businesses and organizations for their leadership teams, in order to help them progress through their                          challenges and the achievement of their goals.
                     </p>
			</div>
		</div>
		<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Publish periodicals and various spiritual and mindfulness meditation content to expand the teaching and support the growth of individuals. It will be available in multiple                       languages in the form of online videos and blogs, e-Newsletters, books, brochures etc. and distributed to our targeted audiences and thousands of leaders. </p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex build justify-content-center">
				<h1>• TO BUILD ACTIVE COMMUNITIES • </h1>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-12 text">
				<p>Form “Buddha-CEO Member” communities across various cities to exchange experiences and inspire their teams.</p>

                     <p>Enabling these Buddha-CEO Members with opportunities to serve through:</p>
              </div>
		</div>
		<div class="row mt-5 build build-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Organizing and leading community meditation service events in their areas  </p>
			</div>
		</div>
		<div class="row mt-2 build build-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Organizing and/or contributing to local or global online mindfulness and meditation events </p>
			</div>
		</div>
		<div class="row mt-2 build build-box justify-content-center">
			<div class=" col-lg-12 text">
					<p>Promoting and/or supporting the activities of Pyramid Spiritual Societies Movement and of other organizations that align to the core principles and vision of the Buddha                        CEO foundation.</p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-lg-12 d-flex establish justify-content-center">
				<h1 class="mt-5">• TO ESTABLISH TRAINING INSTITUTES AND CENTERS • </h1>
			</div>
		</div>
		
		<div class="row mt-5 establish establish-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Establish multiple physical and virtual “Buddha-CEO” training centers across major cities and towns to carry out the foundation activities across India and other countries                       abroad. 
                     </p>
			</div>
		</div>
		<div class="row mt-2 establish establish-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Establish “Buddha-CEO Training Institutes” comprising of Meditation Halls, libraries, book spaces, conference rooms, greeneries, activity zones or any other necessary                       facilities.</p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex another justify-content-center">
				<h1 class="mt-5">• ANOTHER HEADING • </h1>
			</div>
		</div>
		<div class="row mt-5 another another-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Establish multiple physical and virtual “Buddha-CEO” training centers across major cities and towns to carry out the foundation activities across India and other countries                       abroad. 
                     </p>
			</div>
		</div>
		<div class="row mt-2 another another-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Establish multiple physical and virtual “Buddha-CEO” training centers across major cities and towns to carry out the foundation activities across India and other countries                       abroad. 
                     </p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex objective justify-content-center">
				<h1 class="mt-5">• ANOTHER HEADING • </h1>
			</div>
		</div>
		<div class="row mt-5 objective objective-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Establish multiple physical and virtual “Buddha-CEO” training centers across major cities and towns to carry out the foundation activities across India and other countries                       abroad. 
                     </p>
			</div>
		</div>
		<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Establish multiple physical and virtual “Buddha-CEO” training centers across major cities and towns to carry out the foundation activities across India and other countries                       abroad. 
                     </p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex future justify-content-center">
				<h1 class="mt-5">• FUTURE OBJECTIVES • </h1>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>As a consequence of enabling meditators, the Buddha-CEO foundation aims to naturally increase among leaders the overall awarenessand active support of two further                               objectives:. 
                     </p>
			</div>
		</div>
		<div class="row mt-5 future future-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>eco-friendly and environmental initiatives to develop & protect forests, clean water, organic farming, animals and nature in general. </p>
			</div>
		</div>
		<div class="row mt-2 future future-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>eco-friendly and environmental initiatives to develop & protect forests, clean water, organic farming, animals and nature in general. </p>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>In general, the foundation will endorse actions in favor of world peace, harmony, and “fulfilling lives” for every individual and living being on the planet Earth.  </p>
			</div>
		</div>
	</div>
</section>
<section>
	<div id="ag8" class="d-none d-lg-flex">
		<img src="/images/about/19.png">
	</div>
	<div id="ag9" class="d-none d-lg-flex">
		<img src="/images/about/20.png">
	</div>
<div class="container mt-5">
	<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1 style="margin-top:8%;">Who is a Buddha-CEO</h1>
			</div>
		</div>
		
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>
					Buddha CEO is a leader who :</p>
			</div>
		</div>
	<div class="row mt-3 justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card3">
						<img class="card-img-top mt-4 mb-2" src="/images/about/13.png" alt="Card image cap" style="height: 65px; width: 35px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">Exhibits high energy 
all the time and leads
from the front</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card leader-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/Body/7.png" alt="Card image cap" style="height: 65px; width: 65px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">Leads with compassion
in all decisions and
takes responsible actions</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/about/14.png" alt="Card image cap" style="height: 65px; width: 50px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">Encourages constant
innovation and
newness for true joy</p>
                            </div>
                        </div>
				</div>
		</div>
	<div class="row justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/about/12.png" alt="Card image cap" style="height: 65px; width: 70px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">Uses competition only
for developing more
excellence and not to
dominate or suppress</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card leader-card" id="card1">
						<img class="card-img-top mt-4 mb-2" src="/images/Body/8.png" alt="Card image cap" style="height: 65px; width: 70px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">Recognises the abundance 
of opportunity for everyone 
and focuses on own 
business growth</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card3">
						<img class="card-img-top mt-4 mb-2" src="/images/about/16.png" alt="Card image cap" style="height: 70px; width: 55px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">Encourages everyone
to solve challenges
through intuition and
inner strengths</p>
                            </div>
                        </div>
				</div>
		</div>
	<div class="row justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/about/15.png" alt="Card image cap" style="height: 65px; width: 65px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">Provides freedom and
a love based environment
for people to thrive as 
opposed to stifling them
with control and fear</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card leader-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/about/17.png" alt="Card image cap" style="height: 65px; width: 85px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">Recognises that every
employee has infinite
hidden potential and
encourages everyone equally</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card1">
						<img class="card-img-top mt-4 mb-2" src="/images/about/18.png" alt="Card image cap" style="height: 65px; width: 65px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text">Finds meaning and 
purpose for the business 
and aligns employees for
community enablement
and individual fulfilment</p>
                            </div>
                        </div>
				</div>
		</div>
	<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1 style="margin-top:8%;">“We are Buddha-CEOs” </h1>
			</div>
		</div>
	<div class="row mt-5 justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card we-card" id="card1">
                             <div class="card-body cardstyle">
								 <h5 class="card-title" style="color:#98da46 ">Personal Values
</h5>
                                <p class="mt-5">Meditation is our 
									Innate Strength </p>

                               <p>Compassion isour Inner Nature</p>

                               <p>Simplicity is our Vital Culture</p>
                              <p>Equanimity is our Indispensable Character</p>
                          <p>Positive Energy is our Obvious Standard </p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card we-card" id="card4">
                           <div class="card-body cardstyle">
								 <h5 class="card-title" style="color: #f89334">Core Mottos
</h5>
                                <p class="mt-5">“Thoughts Create Reality” is 
our Essential Message
						</p>
<p>Growth Mindset is our 
	Fundamental Attitude</p>

						<p>Creativity is our True Joy</p>

<p>Inclusion is our
	Core Responsibility</p>

<p>Individual Fulfillment 
is our Zenith
.</p>
								
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card we-card" id="card2">
                             <div class="card-body cardstyle">
								 <h5 class="card-title" style="color: #78daff">Business Values</h5>
                                <p class="mt-5">Purpose Driven Business 
									is our Great Intent</p>

                            <p>Community Enablement
                            	is our Main Passion</p>

                             <p>Vibrant Workplace is
								 our Key For Success</p>

                                 <p>Competition is our 
									 Lead to Excellence</p>

                                 <p>Gratitude is our Celebration 
                                       of Abundance</p>
                            </div>
                        </div>
				</div>
		</div>
	</div>
</section>
<section>
	<div id="ag10"class="d-none d-lg-flex">
		<img src="/images/about/20.png">
	</div>
<div class="container mt-5">
	<div class="row">
			<div class="col d-flex justify-content-center logo">
				<img src="/images/Logos/2.png">
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="col d-flex justify-content-center text">
				<h1>Team</h1>
			</div>
		</div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<p>
							Mentors
				</p>
				
			</div>
		</div>
	<div class="row mt-5">
    <%for (i=1;i<4;i++){ var key1='mentors'+i;%>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('<%=key1%>')" onmouseout="contract('<%=key1%>')">
			<div class="card mb-3 teamcard" id="card3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <p id="<%=key1%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
			<a style="text-align: center" data-toggle="modal" href="#exampleModalLong"> Read More ></a>
    </div>
    <%}%>
		<!-- <div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div>
		<div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div> 
 </div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div> -->
	</div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<p>
						APEX Council
				</p>
				
				
			</div>
		</div>
	<div class="row mt-5">
    <%for (i=1;i<4;i++){ var key2='apex_council'+i;%>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('<%=key2%>')" onmouseout="contract('<%=key2%>')">
			<div class="card mb-3 teamcard" id="card3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <p id="<%=key2%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
			<a  style="text-align: center" data-toggle="modal" href="#exampleModalLong"> Read More ></a>
    </div>
    <%}%>
		<!-- <div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div>
		<div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div> -->
	</div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<p>
						Founding Leaders
				</p>
				
				
			</div>
		</div>
	<div class="row mt-5">
    <%for (i=1;i<4;i++){ var key3='founding_leaders'+i;%>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('<%=key3%>')" onmouseout="contract('<%=key3%>')">
			<div class="card mb-3 teamcard" id="card3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p id="<%=key3%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
			<a  style="text-align: center" data-toggle="modal" href="#exampleModalLong"> Read More ></a>
    </div>
    <%}%>
		
		
		
		<!-- modal -->
		

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content aboutmodal">
      <div class="modal-header m-text" style="border: 0;">
        <h5 class="modal-title" id="exampleModalLongTitle">Mentors <i class="fas fa-caret-down"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=container>
			<div class="row">
				<div class="col-3">
					<img src="/images/about/mentor/1.png" style="height: 30%">
				</div>
				<div class="col-9 m-text">
					<p class="mt-5">
						Chandra Pulamarasetti <br>
Co-Founder - Buddha-CEO Foundation <br>
Former IBM Exec , Entrepreneur 

					</p>
					<p>
						A successful entrepreneur, former Vice President of IBM Corporation, transformational meditation coach, and board member of few non-profits including Pyramid Valley International, Chandra Pulamarasetti co-founded Buddha-CEO Foundation to enable leaders to transform themselves with meditation practice and spiritual wisdom, and adopt to spirituo-social responsibility.</p>

<p>Chandra attributes a lot of his business and life success including the recent acquisition of his software company,  to the powerful techniques based on meditation and manifestation. He has been practicing meditation for  21 years, teaches regularly to organizational & business leaders and professionals, and participates in several meditation service activities. </p>

<p>Chandra is a computer science engineer from BITS, Pilani and a core technologist as well at his heart with 2 patents to his credit. Chandra lives in Bangalore with his wife Vani and two children Alekhya and Sanath.  Vani and Chandra run a meditation center called SoulTrends Meditation studio in Bangalore, and another meditation center along with her sister,  in Visakhapatnam rural areas to teach meditation to 500 schools.

					</p>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-3">
					<img src="/images/about/mentor/1.png" style="height: 30%">
				</div>
				<div class="col-9 m-text">
					<p class="mt-5">
						Chandra Pulamarasetti <br>
Co-Founder - Buddha-CEO Foundation <br>
Former IBM Exec , Entrepreneur 

					</p>
					<p>
						A successful entrepreneur, former Vice President of IBM Corporation, transformational meditation coach, and board member of few non-profits including Pyramid Valley International, Chandra Pulamarasetti co-founded Buddha-CEO Foundation to enable leaders to transform themselves with meditation practice and spiritual wisdom, and adopt to spirituo-social responsibility.</p>

<p>Chandra attributes a lot of his business and life success including the recent acquisition of his software company,  to the powerful techniques based on meditation and manifestation. He has been practicing meditation for  21 years, teaches regularly to organizational & business leaders and professionals, and participates in several meditation service activities. </p>

<p>Chandra is a computer science engineer from BITS, Pilani and a core technologist as well at his heart with 2 patents to his credit. Chandra lives in Bangalore with his wife Vani and two children Alekhya and Sanath.  Vani and Chandra run a meditation center called SoulTrends Meditation studio in Bangalore, and another meditation center along with her sister,  in Visakhapatnam rural areas to teach meditation to 500 schools.

					</p>
				</div>
			</div>
      </div>
    </div>
  </div>
</div>
	
		<!-- <div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div>
		<div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div> -->
	</div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<p>
						Flag Carriers
				</p>
			</div>
		</div>
	<div class="row">
    <%for (i=1;i<49;i++){ var key4='flag_carriers'+i;%>
		<div class="col-lg-4 col-6" onmouseover="expand('<%=key4%>')" onmouseout="contract('<%=key4%>')">
			<div class="card mb-3 mt-5 flagcard" id="card3">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
                   <p id="<%=key4%>" class="toggleable mt-5">Molestiae odit fugit cum. Perferendis fugiat quaerat dolorum est omnis. Atque qui rerum harum vel modi pariatur corrupti. Ipsam consequatur expedita aut accusantium neque iusto molestiae. Atque et fugiat voluptate nobis ut.</p>
            </div>
          </div>
        </div>
    </div>
    </div>
    <%}%>
		<!-- <div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div> -->
   
		</div>
	</div>
	
</section>
<section>
<div class="container mt-5">
	<div class="row">
			<div class="col d-flex justify-content-center logo3">
				<img src="/images/Logos/3.png">
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="col d-flex justify-content-center text">
				<h1>Partner Organisation</h1>
			</div>
		</div>

	<div class="row mt-5">
		<div class="col-lg-4">
			<div class="card card-partner mb-3" id="card3">
             <img class="card-img-top" src="/images/about/6.png" alt="Card image cap" style="height:110px; width: 130px;">
           <div class="card-body cardstyle mt-1">
			   <h5 class="card-title">Pyramid Valley International</h5>
           </div>
         </div> 
		</div>
		<div class="col-lg-4">
			<div class="card card-partner mb-3" id="card2">
             <img class="card-img-top" src="/images/about/7.png" alt="Card image cap" style="height:110px; width: 130px;">
           <div class="card-body cardstyle mt-1">
			   <h5 class="card-title">Quantum Life University</h5>
           </div>
         </div> 
		</div>
		<div class="col-lg-4">
			<div class="card card-partner mb-3" id="card1">
             <img class="card-img-top" src="/images/about/5.png" alt="Card image cap" style="height:70px; width: 200px;">
           <div class="card-body cardstyle mt-5">
			   <h5 class="card-title">SoulTrends Meditation Studio</h5>
           </div>
         </div> 
		</div>
	</div>
	
	
	</div>	
</section>
<script>
	console.log(document.getElementById("nabout").childNodes)
	document.getElementById("nabout").childNodes[1].style.backgroundColor="#0771bc";
</script>




<%- include("partials/footer") %>