<%- include("partials/header") %>
<section>
	<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img src="/images/about/1.png" alt="" class="img-responsive w-100">
        <div class="caption justify-content-center">
            <div class="row">
				<div class="col-lg-6 d-none d-lg-flex align-items-center logo">
					<img src="/images/Logos/4.png" class="img-responsive" style="margin-left: 200px;">
				</div>
				<div class="col-lg-6 img-text">
					<h1>
						Our Story
					</h1>
					<p class="d-none d-sm-flex">
						Buddha-CEO Foundation is a spiritual not-for-profit public trust being registered in Karnataka, India to help create compassionate and purpose driven business leaders.                             These leaders are empowered through the breath-mindfulness meditation based wisdom and techniques to live their dreams, grow their businesses and build harmonious                                 communities !
                            </p>
				</div>
			</div>
        </div>
    </div>
</div>
	
</section>
<section>
<div class="container">
		<div class="row mt-5">
			<div class="col d-flex justify-content-center">
				<h1>Why The Foundation</h1>
			</div>
		</div>
		
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>
					In today’s connected world, organizations touch many aspects of the lives of their employees, 
                    families and the larger society.  This is because they have access to and are in control of vast resources in terms of men (human), material, technology and money. The more                        they touch lives in  a sympathetic and responsible manner, the greater is the organizational growth and improvement in the quality of the lives they touch.  To implement                          this most effectively, the mindset of the leadership in terms of their vision, values and execution ability plays a critical role.  An organizational leader empowered with a                      spirituo-scientific mindset will have a higher vision, empathetic values and responsible execution ability.
                     </p>
			</div>
		</div>
	<div class="row mt-5 justify-content-center">
		<div class="col-lg-10">
			<img class="w-100" src="/images/about/2.png" alt="...">
		</div>
	</div>
	<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>
					     Leadership that is not compassionate can rarely be sympathetic and responsible to others. Leadership that is limited by rigid beliefs and values can rarely succeed in                            growing their business or creating more resources for others. Leadership that is greedy and dominating can rarely enable others to innovate and contribute to the                                 business growth. Leadership that lacks vision can rarely make a difference.</p>
				<p class="mt-5">
					According to some market studies, 94% of the current world businesses are not seeing the light of the day.  They simply fail and close down after a few months to years. Of                       the remaining 6% businesses that start, only 1% are growing their revenues,  meeting or exceeding their targets per the vision of their founders and leaders.  Balance 5%                         businesses are able to stay in business but only to survive with flat revenues (no growth), or very minimal growth, causing much frustration to their leadership, employees                       and stake holders. “In India, more than 90% of the companies (40+ million) are MSMEs (Micro, Small and Medium enterprises) and contribute to significant amount of GDP  and                       produce 100 million jobs. The success rate of these companies is vital for the Indian economy to grow. Hence, founders and leaders running these businesses will need to be                        transformed and empowered with spirituo-scientific temper.”</p>
				<p class="mt-5">
				  Lack of clear vision, limited beliefs and thinking, excessive control over teams and lack of clarity in execution in the CEO / Founder / leadership team are some of the core                     reasons for this poor performance. These qualities can easily be improved in any leader / individual  by empoweringthem with spirituo-scientific temper.</p>
			</div>
		</div>
	</div>
</section>
<section>
<div class="container">
	<div class="row mt-5">
			<div class="col d-flex justify-content-center">
				<h1>Spirituo-Scientific Temper</h1>
			</div>
		</div>
	<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>
					Spirituo-Scientific temper in the context of businesses can be understood as : </p>
			</div>
			<div class="row justify-content-around">
				<div class="col-lg-3 col-sm-6 mt-2">
					<div class="card contact-card" id="card1">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-3 col-sm-6  mt-2">
					<div class="card contact-card" id="card2">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-3 col-sm-6 mt-2">
					<div class="card contact-card" id="card3">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-3 col-sm-6 mt-2">
					<div class="card contact-card" id="card4">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
		</div>
	</div>
	</div>
	</div>
</section>
<section class="my-5">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			 <div class="thumbnail">
        <img src="/images/about/3.png" alt="" class="img-responsive w-100">
        <div class="caption justify-content-center">
			<div class="container">
				<div class="row justify-content-end">
				<div class="col-8 aboutimg">
					<h1>
						<strong>Vision</strong>
					</h1>
					<p>
						<strong>To build a world full of leaders who are meditative, compassionate and purpose driven for a harmonious and fulfilling life for everyone on the planet Earth                               </strong>
                    </p>
				</div>
			
			</div>
            </div>
        </div>
    </div>
		</div>
	</div>
	<div class="row justify-content-center mt-5">
		<div class="col-lg-10">
			 <div class="thumbnail">
        <img src="/images/about/4.png" alt="" class="img-responsive w-100">
        <div class="caption justify-content-center">
			<div class="container">
				<div class="row justify-content-end">
				<div class="col-8 aboutimg">
					<h1>
						<strong>Mission</strong>
					</h1>
					<p>
						<strong>To empower business leaders, entrepreneurs and students with scientific meditation wisdom</strong>
                    </p>
				</div>
			
			</div>
            </div>
        </div>
    </div>
		</div>
	</div>
	</div>
</section>
<section class="mt-5">
	<div class="container mt-5">
		<div class="row mt-5">
			<div class="col d-flex justify-content-center">
				<h1>Our Objectives</h1>
			</div>
		</div>
		
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>Our targeted audiences are individual leaders, leadership groups, entrepreneurs and aspiring leaders; from both private and public businesses as well as from non-profit                        and/or non-governmental organizations (NGO).</p>
				<p class="mt-5">
					The foundation envisages to carry out its mission through the following 3 main objectives:</p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex objective justify-content-center">
				<h1>• TO TEACH MEDITATION •</h1>
			</div>
		</div>
		<div class="row mt-5 objective objective-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Develop and conduct foundational courses on meditation and spiritual science for our targeted audiences, with simple meditation techniques and literature, and enable them                         to impart meditation education to the business organizations and/or communities they serve.</p>
			</div>
		</div>
		<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Carry out long duration meditation & manifestation programs with businesses and organizations for their leadership teams, in order to help them progress through their                          challenges and the achievement of their goals.
                     </p>
			</div>
		</div>
		<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Publish periodicals and various spiritual and mindfulness meditation content to expand the teaching and support the growth of individuals. It will be available in multiple                       languages in the form of online videos and blogs, e-Newsletters, books, brochures etc. and distributed to our targeted audiences and thousands of leaders. </p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex build justify-content-center">
				<h1>• TO BUILD ACTIVE COMMUNITIES • </h1>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
				<p>Form “Buddha-CEO Member” communities across various cities to exchange experiences and inspire their teams.</p>

                     <p>Enabling these Buddha-CEO Members with opportunities to serve through:</p>
              </div>
		</div>
		<div class="row mt-5 build build-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Organizing and leading community meditation service events in their areas  </p>
			</div>
		</div>
		<div class="row mt-2 build build-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Organizing and/or contributing to local or global online mindfulness and meditation events </p>
			</div>
		</div>
		<div class="row mt-2 build build-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Promoting and/or supporting the activities of Pyramid Spiritual Societies Movement and of other organizations that align to the core principles and vision of the Buddha                        CEO foundation.</p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex establish justify-content-center">
				<h1>• TO ESTABLISH TRAINING INSTITUTES AND CENTERS • </h1>
			</div>
		</div>
		
		<div class="row mt-5 establish establish-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Establish multiple physical and virtual “Buddha-CEO” training centers across major cities and towns to carry out the foundation activities across India and other countries                       abroad. 
                     </p>
			</div>
		</div>
		<div class="row mt-2 establish establish-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Establish “Buddha-CEO Training Institutes” comprising of Meditation Halls, libraries, book spaces, conference rooms, greeneries, activity zones or any other necessary                       facilities.</p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex another justify-content-center">
				<h1>• ANOTHER HEADING • </h1>
			</div>
		</div>
		<div class="row mt-5 another another-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Establish multiple physical and virtual “Buddha-CEO” training centers across major cities and towns to carry out the foundation activities across India and other countries                       abroad. 
                     </p>
			</div>
		</div>
		<div class="row mt-2 another another-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Establish multiple physical and virtual “Buddha-CEO” training centers across major cities and towns to carry out the foundation activities across India and other countries                       abroad. 
                     </p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex objective justify-content-center">
				<h1>• ANOTHER HEADING • </h1>
			</div>
		</div>
		<div class="row mt-5 objective objective-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Establish multiple physical and virtual “Buddha-CEO” training centers across major cities and towns to carry out the foundation activities across India and other countries                       abroad. 
                     </p>
			</div>
		</div>
		<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>Establish multiple physical and virtual “Buddha-CEO” training centers across major cities and towns to carry out the foundation activities across India and other countries                       abroad. 
                     </p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex future justify-content-center">
				<h1>• FUTURE OBJECTIVES • </h1>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>As a consequence of enabling meditators, the Buddha-CEO foundation aims to naturally increase among leaders the overall awarenessand active support of two further                               objectives:. 
                     </p>
			</div>
		</div>
		<div class="row mt-5 future future-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>eco-friendly and environmental initiatives to develop & protect forests, clean water, organic farming, animals and nature in general. </p>
			</div>
		</div>
		<div class="row mt-2 future future-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>eco-friendly and environmental initiatives to develop & protect forests, clean water, organic farming, animals and nature in general. </p>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>In general, the foundation will endorse actions in favor of world peace, harmony, and “fulfilling lives” for every individual and living being on the planet Earth.  </p>
			</div>
		</div>
	</div>
</section>
<section>
<div class="container mt-5">
	<div class="row mt-5">
			<div class="col d-flex justify-content-center">
				<h1>Who is a Buddha-CEO</h1>
			</div>
		</div>
		
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>
					Buddha CEO is a leader who :</p>
			</div>
		</div>
	<div class="row mt-3 justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card contact-card" id="card1">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card contact-card" id="card2">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card contact-card" id="card3">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
		</div>
	<div class="row justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card contact-card" id="card1">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card contact-card" id="card2">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card contact-card" id="card3">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
		</div>
	<div class="row justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card contact-card" id="card1">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card contact-card" id="card2">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card contact-card" id="card3">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
		</div>
	<div class="row mt-5">
			<div class="col d-flex justify-content-center">
				<h1>“We are Buddha-CEOs” </h1>
			</div>
		</div>
	<div class="row mt-5 justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card contact-card" id="card1">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card contact-card" id="card2">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card contact-card" id="card3">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
				</div>
		</div>
	</div>
</section>
<section>
<div class="container mt-5">
	<div class="row">
			<div class="col d-flex justify-content-center logo">
				<img src="/images/Logos/2.png">
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="col d-flex justify-content-center">
				<h1>Team</h1>
			</div>
		</div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<h4>
							Mentors
				</h4>
				
			</div>
		</div>
	<div class="row mt-5">
    <%for (i=1;i<4;i++){ var key1='mentors'+i;%>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('<%=key1%>')" onmouseout="contract('<%=key1%>')">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <p id="<%=key1%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
    </div>
    <%}%>
		<!-- <div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div>
		<div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div> 
 </div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div> -->
	</div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<h4>
						APEX Council
				</h4>
				
				
			</div>
		</div>
	<div class="row mt-5">
    <%for (i=1;i<4;i++){ var key2='apex_council'+i;%>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('<%=key2%>')" onmouseout="contract('<%=key2%>')">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <p id="<%=key2%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
    </div>
    <%}%>
		<!-- <div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div>
		<div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div> -->
	</div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<h4>
						Founding Leaders
				</h4>
				
				
			</div>
		</div>
	<div class="row mt-5">
    <%for (i=1;i<4;i++){ var key3='founding_leaders'+i;%>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('<%=key3%>')" onmouseout="contract('<%=key3%>')">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p id="<%=key3%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
    </div>
    <%}%>
		<!-- <div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div>
		<div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div> -->
	</div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<h4>
						Flag Carriers
				</h4>
			</div>
		</div>
	<div class="row">
    <%for (i=1;i<10;i++){ var key4='flag_carriers'+i;%>
		<div class="col-4" onmouseover="expand('<%=key4%>')" onmouseout="contract('<%=key4%>')">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
                   <p id="<%=key4%>" class="toggleable">Molestiae odit fugit cum. Perferendis fugiat quaerat dolorum est omnis. Atque qui rerum harum vel modi pariatur corrupti. Ipsam consequatur expedita aut accusantium neque iusto molestiae. Atque et fugiat voluptate nobis ut.</p>
            </div>
          </div>
        </div>
    </div>
    </div>
    <%}%>
		<!-- <div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div> -->
   
		</div>
	</div>
	
</section>
<section id="partner">
<div class="container">
	<div class="row">
			<div class="col d-flex justify-content-center logo3">
				<img src="/images/Logos/3.png">
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="col d-flex justify-content-center">
				<h1>Partner Organisation</h1>
			</div>
		</div>

	<div class="row mt-5">
		<div class="col-lg-4">
			<div class="card card-partner" id="card3">
             <img class="card-img-top" src="/images/about/6.png" alt="Card image cap" style="height:110px; width: 130px;">
           <div class="card-body cardstyle mt-1">
			   <h5 class="card-title">Pyramid Valley International</h5>
           </div>
         </div> 
		</div>
		<div class="col-lg-4">
			<div class="card card-partner" id="card2">
             <img class="card-img-top" src="/images/about/7.png" alt="Card image cap" style="height:110px; width: 130px;">
           <div class="card-body cardstyle mt-1">
			   <h5 class="card-title">Quantum Life University</h5>
           </div>
         </div> 
		</div>
		<div class="col-lg-4">
			<div class="card card-partner" id="card1">
             <img class="card-img-top" src="/images/about/5.png" alt="Card image cap" style="height:70px; width: 200px;">
           <div class="card-body cardstyle mt-5">
			   <h5 class="card-title">SoulTrends Meditation Studio</h5>
           </div>
         </div> 
		</div>
	</div>
	
	
	</div>	
</section>





<%- include("partials/footer") %>