<%- include("partials/header") %>
<section>
	<div class="row" id="box-search">
    <div class="thumbnail text-center front col-sm-12">
        <img src="/images/about/1.jpg" alt="" class="img-responsive w-100" style="min-width: 0px;">
        <div class="caption justify-content-center">
            <div class="row">
				<div class="col-lg-6 d-none d-lg-flex align-items-center ilogo">
					<img src="/images/Logos/4.png" class="img-responsive" style="margin-left: 200px;">
				</div>
				<div class="col-lg-5 img-text">
					<h1>
						<%= __("Our Story") %>
					</h1>
					<p> <%- __("About our story about description") %> </p>
				</div>
			</div>
        </div>
    </div>
</div>
	
</section>
<section style="margin-top: 8%;">
	<div id="ag1" class="d-none d-lg-flex">
		<img src="/images/about/19.png">
	</div>
	<div id="ag2" class="d-none d-lg-flex">
		<img src="/images/about/20.png">
	</div>
<div class="container mt-5">
		<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1><%= __("About why the foundation title") %></h1>
			</div>
		</div>
		
		<div class="row mt-5 mb-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p><%= __("About why the foundation description 1") %></p>
			</div>
		</div>
	<div class="row mt-5 justify-content-center">
		<div class="col-lg-12">
			<img class="w-100" src="/images/about/2.png" alt="...">
		</div>
	</div>
	<div class="row mt-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p class="mt-5"> <%= __("About why the foundation description 2") %></p>
			</div>
		</div>
	<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1><%= __("Context") %></h1>
			</div>
		</div>
		
		<div class="row mt-5 mb-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p><%= __("About context description 1") %></p>
				<p class="mt-5"><%= __("About context description 2") %></p>
				<p class="mt-5"><%= __("About context description 3") %></p>
				<p class="mt-5"><%= __("About context description 4") %></p>
			</div>
		</div>
	
	<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1><%= __("About what about the non-profit sector? title") %></h1>
			</div>
		</div>
		
		<div class="row mt-5 mb-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p><%= __("About non-profit description 1") %></p>
				<p class="row mt-5"><%= __("About non-profit description 2") %></p>
			</div>
		</div>
	<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1><%= __("About the essential role of leadership title") %></h1>
			</div>
		</div>
		
		<div class="row mt-5 mb-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p><%- __("About the essential role of leadership description") %></p>
			</div>
		</div>
	
	</div>
</section>
<section>
<div class="container">
	<div class="row mt-5">
			<div class="col-12 d-flex justify-content-center text">
				<h1><%= __("About spirituo-scientific mindset title") %></h1>
			</div>
		</div>
	<div class="row mt-5 justify-content-center mb-5">
			<div class="col col-lg-12 text">
					<p>
						<%= __("About spirituo-scientific mindset description title") %></p>
			</div>
			<div class="row justify-content-around mt-5">
				<div class="col-lg-3 col-sm-6 mt-2">
					<div class="card spi-card" id="card4">
						 <img class="card-img-top mt-4 mb-2" src="/images/about/8.png" alt="Card image cap" style="height: 75px; width: 40px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About spirituo-scientific mindset card 1 description") %></p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-3 col-sm-6  mt-2">
					<div class="card spi-card" id="card1">
						<img class="card-img-top mt-4 mb-2" src="/images/about/10.png" alt="Card image cap" style="height: 75px; width: 70px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About spirituo-scientific mindset card 2 description") %></p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-3 col-sm-6 mt-2">
					<div class="card spi-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/about/11.png" alt="Card image cap" style="height: 75px; width: 75px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About spirituo-scientific mindset card 3 description") %></p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-3 col-sm-6 mt-2">
					<div class="card spi-card" id="card3">
						<img class="card-img-top mt-4 mb-2" src="/images/about/9.png" alt="Card image cap" style="height: 75px; width: 75px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About spirituo-scientific mindset card 4 description") %></p>
                            </div>
                        </div>
		</div>
	</div>
		<div class="container">
			<div class="row justify-content-center mt-5">
			<div class="col col-lg-12 col-sm-10 text">
					<p class="mt-5"><%= __("About spirituo-scientific mindset description 1") %></p>
				<p class="mt-5"><%= __("About spirituo-scientific mindset description 2") %></p>
				<p class="mt-5"><%= __("About spirituo-scientific mindset description 3") %></p>
				<p class="mt-5"><%= __("About spirituo-scientific mindset description 4") %></p>
			</div>
		</div>
		</div>
		
	</div>
	</div>
</section>
<section style="margin-top: 5%;">
	<div id="ag3" class="d-none d-lg-flex">
		<img src="/images/about/19.png">
	</div>
	<div id="ag4" class="d-none d-lg-flex">
		<img src="/images/about/20.png">
	</div>
<div class="container mt-5 d-none d-lg-block">
	<div class="row justify-content-center">
		<div class="col-lg-12">
			 <div class="thumbnail">
        <img src="/images/about/3.png" alt="" class="img-responsive w-100">
        <div class="caption justify-content-center">
				<div class="row justify-content-end">
				<div class="col-lg-8 col-sm-4 aboutimg">
					<h1>
						<strong><%= __("Vision") %></strong>
					</h1>
					<p>
						<strong><%= __("About vision description") %></strong>
                    </p>
				</div>
			
			</div>
        </div>
    </div>
		</div>
	</div>
	<div class="row justify-content-center mt-5">
		<div class="col-lg-12">
			 <div class="thumbnail mt-5">
        <img src="/images/about/4.png" alt="" class="img-responsive w-100">
        <div class="caption justify-content-center">
				<div class="row justify-content-end">
				<div class="col-lg-8 col-sm-4 aboutimg" id="miss">
					<h1>
						<strong><%= __("Mission") %></strong>
					</h1>
					<p>
						<strong><%= __("About mission description") %></strong>
                    </p>
				</div>
			
			</div>
        
        </div>
    </div>
		</div>
	</div>
	
	</div>
</section>
<section class="mt-5">
	<div id="ag5" class="d-none d-lg-flex">
		<img src="/images/about/19.png">
	</div>
	<div id="ag6" class="d-none d-lg-flex">
		<img src="/images/about/20.png">
	</div>
	<div id="ag7" class="d-none d-lg-flex">
		<img src="/images/about/19.png">
	</div>
	<div class="container mt-5">
		
		<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1 class="mt-5"><%= __("About what do we do? title") %></h1>
			</div>
		</div>
		
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p><%= __("About what do we do? description 1") %></p>
				<p class="mt-5"><%= __("About what do we do? description 2") %></p>
				<p class="mt-5"><%= __("About what do we do? description 3") %></p>
				<%- __("About what do we do? description 4") %>
			</div>
		</div>
		
		
		<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1 class="mt-5"><%= __("Our Objectives") %></h1>
			</div>
		</div>
		
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-12 text">
				<p><%= __("About our objectives description 1") %></p>
				<p class="mt-5"><%= __("About our objectives description 2") %> </p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex objective justify-content-center">
				<h1 class="mt-5"><%= __("About our objectives card 1 title") %></h1>
			</div>
		</div>
		<div class="row mt-5 objective objective-box justify-content-center">
			<div class="col col-lg-12 text">
					<p><%- __("About our objectives card 1 text 1") %></p>
			</div>
		</div>
		<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-12 text">
					<p><%- __("About our objectives card 1 text 2") %>
                     </p>
			</div>
		</div>
		
		<div class="row mt-5">
			<div class="col d-flex build justify-content-center">
				<h1><%= __("About our objectives card 2 title") %> </h1>
			</div>
		</div>
		
		<div class="row mt-5 build build-box justify-content-center">
			<div class="col col-lg-12 text">
					<p><%- __("About our objectives card 2 text 1") %></p>
			</div>
		</div>
		
		<div class="row mt-5">
			<div class="col-lg-12 d-flex establish justify-content-center">
				<h1 class="mt-5"><%= __("About our objectives card 3 title") %> </h1>
			</div>
		</div>
		
		
		<div class="row mt-2 establish establish-box justify-content-center">
			<div class="col col-lg-12 text">
					<p><%= __("About our objectives card 3 text 1") %></p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex another justify-content-center">
				<h1 class="mt-5"><%= __("About our objectives card 4 title") %> </h1>
			</div>
		</div>
		<div class="row mt-5 another another-box justify-content-center">
			<div class="col col-lg-12 text">
					<p><%= __("About our objectives card 4 text 1") %></p>
			</div>
		</div>
		<div class="row mt-2 another another-box justify-content-center">
			<div class="col col-lg-12 text">
					<p><%= __("About our objectives card 4 text 2") %></p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex objective justify-content-center">
				<h1 class="mt-5"><%= __("About our objectives card 5 title") %></h1>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p><%= __("About our objectives card 5 description") %></p>
			</div>
		</div>
		<div class="row mt-5 objective objective-box justify-content-center">
			<div class="col col-lg-10 text">
					<p><%= __("About our objectives card 5 text 1") %></p>
			</div>
		</div>
		<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-10 text">
					<p><%= __("About our objectives card 5 text 2") %></p>
			</div>
		</div>
		<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-10 text">
					<p><%= __("About our objectives card 5 text 3") %></p>
			</div>
		</div>
		<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-10 text">
					<p><%= __("About our objectives card 5 text 4") %></p>
			</div>
		</div>
	<!--	<div class="row mt-5">
			<div class="col d-flex future justify-content-center">
				<h1 class="mt-5">• FUTURE OBJECTIVES • </h1>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>As a consequence of enabling meditators, the Buddha-CEO Quantum Foundation aims to naturally increase among leaders the overall awarenessand active support of two further                               objectives:. 
                     </p>
			</div>
		</div>
		<div class="row mt-5 future future-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>eco-friendly and environmental initiatives to develop & protect forests, clean water, organic farming, animals and nature in general. </p>
			</div>
		</div>
		<div class="row mt-2 future future-box justify-content-center">
			<div class="col col-lg-10 text">
					<p>eco-friendly and environmental initiatives to develop & protect forests, clean water, organic farming, animals and nature in general. </p>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p>In general, the foundation will endorse actions in favor of world peace, harmony, and “fulfilling lives” for every individual and living being on the planet Earth.  </p>
			</div>
		</div> -->
	</div>
</section>
<section>
	<div id="ag8" class="d-none d-lg-flex">
		<img src="/images/about/19.png">
	</div>
	<div id="ag9" class="d-none d-lg-flex">
		<img src="/images/about/20.png">
	</div>
<div class="container mt-5">
	<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1 style="margin-top:8%;"><%= __("About who is a buddha-CEO title") %></h1>
			</div>
		</div>
		
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-10 text">
					<p><%= __("About who is a buddha-CEO description") %></p>
			</div>
		</div>
	<div class="row mt-3 justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card3">
						<img class="card-img-top mt-4 mb-2" src="/images/about/13.png" alt="Card image cap" style="height: 65px; width: 35px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About buddha-CEO card 1 description") %></p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card leader-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/Body/7.png" alt="Card image cap" style="height: 65px; width: 65px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About buddha-CEO card 2 description") %></p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/about/14.png" alt="Card image cap" style="height: 65px; width: 50px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About buddha-CEO card 3 description") %></p>
                            </div>
                        </div>
				</div>
		</div>
	<div class="row justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/about/12.png" alt="Card image cap" style="height: 65px; width: 70px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About buddha-CEO card 4 description") %></p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card leader-card" id="card1">
						<img class="card-img-top mt-4 mb-2" src="/images/Body/8.png" alt="Card image cap" style="height: 65px; width: 70px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About buddha-CEO card 5 description") %></p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card3">
						<img class="card-img-top mt-4 mb-2" src="/images/about/16.png" alt="Card image cap" style="height: 70px; width: 55px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About buddha-CEO card 6 description") %></p>
                            </div>
                        </div>
				</div>
		</div>
	<div class="row justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/about/15.png" alt="Card image cap" style="height: 65px; width: 65px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About buddha-CEO card 7 description") %></p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card leader-card" id="card2">
						<img class="card-img-top mt-4 mb-2" src="/images/about/17.png" alt="Card image cap" style="height: 65px; width: 85px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About buddha-CEO card 8 description") %></p>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card leader-card" id="card1">
						<img class="card-img-top mt-4 mb-2" src="/images/about/18.png" alt="Card image cap" style="height: 65px; width: 65px; align-self: center;">
                             <div class="card-body cardstyle">
                                <p class="card-text"><%= __("About buddha-CEO card 9 description") %></p>
                            </div>
                        </div>
				</div>
		</div>
	<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1 style="margin-top:8%;"><%= __("About “We are Buddha-CEOs” title") %></h1>
			</div>
		</div>
	<div class="row mt-5 justify-content-around">
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card we-card" id="card1">
                             <div class="card-body cardstyle">
								 <h5 class="card-title" style="color:#98da46 "><%= __("Personal Values") %></h5>
								 <%- __("About “We are Buddha-CEOs” card 1 description") %>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8  mt-2">
					<div class="card we-card" id="card4">
                           <div class="card-body cardstyle">
								 <h5 class="card-title" style="color: #f89334"><%= __("Core Mottos") %></h5>
								 <%- __("About “We are Buddha-CEOs” card 2 description") %>
                            </div>
                        </div>
				</div>
				<div class="col-lg-4 col-sm-8 mt-2">
					<div class="card we-card" id="card2">
                             <div class="card-body cardstyle">
								 <h5 class="card-title" style="color: #78daff"><%= __("Business Values") %></h5>
								 <%- __("About “We are Buddha-CEOs” card 3 description") %>
                            </div>
                        </div>
				</div>
		</div>
	</div>
</section>
<!-- <section class="d-none">
	<div id="ag10"class="d-none d-lg-flex">
		<img src="/images/about/20.png">
	</div>
<div class="container mt-5">
	<div class="row">
			<div class="col d-flex justify-content-center logo">
				<img src="/images/Logos/2.png">
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="col d-flex justify-content-center text">
				<h1>Team</h1>
			</div>
		</div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<p>
							Mentors
				</p>
				
			</div>
		</div>
	 <div class="row mt-5">
    <%for (i=1;i<5;i++){ var key1='mentors'+i;%>
		<div class="col-lg-3 justify-content-center mentor" onmouseover="expand('<%=key1%>')" onmouseout="contract('<%=key1%>')">
			<div class="card mb-3 teamcard" id="card3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <p id="<%=key1%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
		<!-- <a style="text-align: center" data-toggle="modal" href="#exampleModalLong"> Read More ></a> -->
    <!-- </div>  -->
    <!-- <%}%>  -->
		<!-- <div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div>
		<div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div> 
 </div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div> -->
	<!-- </div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<p>
						APEX Council
				</p>
				
				
			</div>
		</div>
	<div class="row mt-5"> -->
    <!-- <%for (i=1;i<4;i++){ var key2='apex_council'+i;%>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('<%=key2%>')" onmouseout="contract('<%=key2%>')">
			<div class="card mb-3 teamcard" id="card3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <p id="<%=key2%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
			<a class="d-none" style="text-align: center" data-toggle="modal" href="#exampleModalLong"> Read More ></a>
    </div> -->
    <!-- <%}%> -->
		<!-- <div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div>
		<div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div> -->
	<!-- </div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<p>
						Founding Leaders
				</p>
				
				
			</div>
		</div>
	<div class="row mt-5">
    <%for (i=1;i<4;i++){ var key3='founding_leaders'+i;%>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('<%=key3%>')" onmouseout="contract('<%=key3%>')">
			<div class="card mb-3 teamcard" id="card3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p id="<%=key3%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
		<!-- <a  style="text-align: center" data-toggle="modal" href="#exampleModalLong"> Read More ></a> -->
    <!-- </div> -->
    <!-- <%}%> -->
		 
		
		
		<!-- modal -->
		

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content aboutmodal">
      <div class="modal-header m-text" style="border: 0;">
        <h5 class="modal-title" id="exampleModalLongTitle">Mentors <i class="fas fa-caret-down"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=container>
			<div class="row">
				<div class="col-3">
					<img src="/images/about/mentor/1.png" style="height: 30%">
				</div>
				<div class="col-9 m-text">
					<p class="mt-5">
						Chandra Pulamarasetti <br>
Co-Founder - Buddha-CEO Quantum Foundation <br>
Former IBM Exec , Entrepreneur 

					</p>
					<p>
						A successful entrepreneur, former Vice President of IBM Corporation, transformational meditation coach, and board member of few non-profits including Pyramid Valley International, Chandra Pulamarasetti co-founded Buddha-CEO Quantum Foundation to enable leaders to transform themselves with meditation practice and spiritual wisdom, and adopt to spirituo-social responsibility.</p>

<p>Chandra attributes a lot of his business and life success including the recent acquisition of his software company,  to the powerful techniques based on meditation and manifestation. He has been practicing meditation for  21 years, teaches regularly to organizational & business leaders and professionals, and participates in several meditation service activities. </p>

<p>Chandra is a computer science engineer from BITS, Pilani and a core technologist as well at his heart with 2 patents to his credit. Chandra lives in Bangalore with his wife Vani and two children Alekhya and Sanath.  Vani and Chandra run a meditation center called SoulTrends Meditation studio in Bangalore, and another meditation center along with her sister,  in Visakhapatnam rural areas to teach meditation to 500 schools.

					</p>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-3">
					<img src="/images/about/mentor/1.png" style="height: 30%">
				</div>
				<div class="col-9 m-text">
					<p class="mt-5">
						Chandra Pulamarasetti <br>
Co-Founder - Buddha-CEO Quantum Foundation <br>
Former IBM Exec , Entrepreneur 

					</p>
					<p>
						A successful entrepreneur, former Vice President of IBM Corporation, transformational meditation coach, and board member of few non-profits including Pyramid Valley International, Chandra Pulamarasetti co-founded Buddha-CEO Quantum Foundation to enable leaders to transform themselves with meditation practice and spiritual wisdom, and adopt to spirituo-social responsibility.</p>

<p>Chandra attributes a lot of his business and life success including the recent acquisition of his software company,  to the powerful techniques based on meditation and manifestation. He has been practicing meditation for  21 years, teaches regularly to organizational & business leaders and professionals, and participates in several meditation service activities. </p>

<p>Chandra is a computer science engineer from BITS, Pilani and a core technologist as well at his heart with 2 patents to his credit. Chandra lives in Bangalore with his wife Vani and two children Alekhya and Sanath.  Vani and Chandra run a meditation center called SoulTrends Meditation studio in Bangalore, and another meditation center along with her sister,  in Visakhapatnam rural areas to teach meditation to 500 schools.

					</p>
				</div>
			</div>
      </div>
    </div>
  </div>
</div>
	
		<!-- <div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div>
		<div class="col-lg-4 justify-content-center mentor">
			<div class="card mb-3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
</div>
			<a  href="#" style="text-align: center"> Read More ></a>
		</div> -->
	<!-- </div>
	<div class="row justify-content-center" style="margin-top: 10%">
			<div class="col col-lg-6 text">
					<p>
						Flag Carriers
				</p>
			</div>
		</div>
	<div class="row"> -->
    <!-- <%for (i=1;i<49;i++){ var key4='flag_carriers'+i;%>
		<div class="col-lg-4 col-6" onmouseover="expand('<%=key4%>')" onmouseout="contract('<%=key4%>')">
			<div class="card mb-3 mt-5 flagcard" id="card3">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
                   <p id="<%=key4%>" class="toggleable mt-5">Molestiae odit fugit cum. Perferendis fugiat quaerat dolorum est omnis. Atque qui rerum harum vel modi pariatur corrupti. Ipsam consequatur expedita aut accusantium neque iusto molestiae. Atque et fugiat voluptate nobis ut.</p>
            </div>
          </div>
        </div>
    </div>
    </div> -->
    <!-- <%}%> --> 
		<!-- <div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
	</div>
		<div class="row">
		<div class="col-4">
			<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
            </div>
          </div>
        </div>
    </div>
		</div>
		<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div>
   
		</div>
	</div>
				<div class="col-4">
				<div class="card mb-3 mt-5">
               <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/programs/card.png" class="card-img" alt="...">
                </div>
             <div class="col-md-8">
             <div class="card-body">
                   <h5 class="card-title">Name of the person </h5>
           </div>
          </div>
        </div> -->
   
		<!-- </div>
	</div>
	</div> -->
<!-- </section> --> 
<section id="teamSection">
		<div id="ag10"class="d-none d-lg-flex">
			<img src="/images/about/20.png">
		</div>
	<div class="container mt-5">
		<div class="row">
				<div class="col d-flex justify-content-center logo">
					<img src="/images/Logos/2.png">
				</div>
			</div>
			<div class="row mt-5 mb-5">
				<div class="col d-flex justify-content-center text">
					<h1><%= __("Team") %></h1>
				</div>
			</div>
		 <div class="row justify-content-center" style="margin-top: 10%">
				<div class="col col-lg-6 text">
						<p>
								Mentors
					</p>
					
				</div>
			</div>
		 <div class="row mt-5">
	   
			<div class="col-lg-3 justify-content-center mentor" onmouseover="expand('mentors1')" onmouseout="contract('mentors1')">
				<div class="card mb-3 teamcard" id="card3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/2.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Brahmarshi Patriji</h5>
				 <p class="card-text" style="padding-bottom: 20px">Founder, Pyramid Spiritual Societies Movement</p>
				 <p id="mentors1" class="toggleable"><%= __("About mentor 1 text") %></p>
				</div>
	</div>
				<!-- <a  href="#" style="text-align: center"> Read More ></a>  -->
		</div>
	   
			<div class="col-lg-3 justify-content-center mentor" onmouseover="expand('mentors2')" onmouseout="contract('mentors2')">
				<div class="card mb-3 teamcard" id="card3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Padma Shri D. R. Kaarthikeyan</h5>
				 <p class="card-text" style="padding-bottom: 20px">Former Director-CBI, NHRC, CRPF</p>
				 <p id="mentors2" class="toggleable"><%= __("About mentor 2 text") %></p>
			  </div>
	</div>
				 <!-- <a  href="#" style="text-align: center"> Read More ></a>  -->
			</div>
			<div class="col-lg-3 justify-content-center mentor" onmouseover="expand('mentors3')" onmouseout="contract('mentors3')">
				<div class="card mb-3 teamcard" id="card3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/3.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Padma Shri Dr. RV Ramani</h5>
				 <p class="card-text">Founder and Managing Trustee,Sankara Eye Foundation
						</p>
				 <p id="mentors3" class="toggleable"><%= __("About mentor 3 text") %></div> 
	 </div>
				<!-- <a  href="#" style="text-align: center"> Read More ></a>  -->
		</div>
		<div class="col-lg-3 justify-content-center mentor" onmouseover="expand('mentors4')" onmouseout="contract('mentors4')">
				<div class="card mb-3 teamcard" id="card3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/4.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Dr. S. V. Balasubramaniam</h5>
				 <p class="card-text">Founder & Chairman, Bannari Amman Group
					  </p>
				 <p id="mentors4" class="toggleable"><%= __("About mentor 4 text") %></div> 
	 </div>
				<!-- <a  href="#" style="text-align: center"> Read More ></a>  -->
			</div>
		</div> 
		<!-- <div class="row justify-content-center" style="margin-top: 10%">
				<div class="col col-lg-6 text">
						<p>
							APEX Council
					</p>
					
					
				</div>
			</div>
		<div class="row mt-5">
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('apex_council1')" onmouseout="contract('apex_council1')">
				<div class="card mb-3 teamcard" id="card3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/6.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Shreyans Daga</h5>
				 <p class="card-text">Shreans Daga is the Promoter and Managing Director of Betul Oils Limited, Madhya Pradesh. </p>
				 <p id="apex_council1" class="toggleable">After a profound transformation, he became a pillar of PSSM. He is the Founder President of the Mumbai Pyramid Spiritual Society and Vice-chairman and Trustee of the Pyramid Spiritual Trust, Bangalore. He is instrumental in creating the Maitreya Buddha Pyramid at Pyramid Valley Bengaluru.</p>
			  </div>
	</div>
				<a  href="#" style="text-align: center"> Read More ></a>
			</div> 
		
			
		
			<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('apex_council2')" onmouseout="contract('apex_council2')"> 
				<div class="card mb-3 teamcard" id="card3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/7.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Sai Krupa Sagar</h5>
				 <p class="card-text">Sai Krupa Sagar is an accomplished technology business leader and a long-time meditator. </p>
				 <p id="apex_council2" class="toggleable">In his career of 30 years in the IT services industry, Sai has held several roles from developer to software architect to business leader and has worked in India, North America, UK, and Europe. Having gone through an extraordinary transformation in his personal and professional life due to a daily practice of meditation, Sai has undertaken the task of spreading the magic of meditation as a primary side hustle.</p>
			  </div>
	</div>
				<a  href="#" style="text-align: center"> Read More ></a>
		</div>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('apex_council3')" onmouseout="contract('apex_council3')">
				<div class="card mb-3 teamcard" id="card3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/10.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Dr. Lakshmi Newton, MBBS</h5>
				 <p class="card-text">Dr. Lakshmi is the Founder of Life Foundation & Quantum Life University and passionate </p>
				 <p id="apex_council3" class="toggleable">advocate of Vegetarianism since the tender age of 2. She has been a constant companion of Dr. Newton for over three decades, sharing his vision and being a co-presenter with him in workshops and trainings.  Her mission is to increase awareness about the need for harmony with the Animal and Plant Kingdoms and to spread the message of Love, Compassion, and Kinship with Animals.</p>
				</div>
	</div>
				<a  href="#" style="text-align: center"> Read More ></a>
		</div>
	  </div> -->
		<div class="row justify-content-center" style="margin-top: 10%">
				<div class="col col-lg-6 text">
						<p>
							<%= __("Founding Leaders") %>
					</p>
					
					
				</div>
			</div>
		<div class="row mt-5">
	
			<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('founding_leaders1')" onmouseout="contract('founding_leaders1')">
				<div class="card mb-3 teamcard" id="card3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/11.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Chandra Pulamarasetti</h5>
				 <p class="card-text"><%= __("About founding leader 1 title") %></p>
				<p id="founding_leaders1" class="toggleable"><%- __("About founding leader 1 text") %></p>
				</div>
	</div>
				<!-- <a  href="#" style="text-align: center"> Read More ></a> -->
		</div>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('founding_leaders2')" onmouseout="contract('founding_leaders2')">
				<div class="card mb-3 teamcard" id="card3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/8.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Laurence Guihard-Joly</h5>
				 <p class="card-text" style="padding-bottom: 20px"><%= __("About founding leader 2 title") %></p>
				<p id="founding_leaders2" class="toggleable"><%= __("About founding leader 2 text") %></p>
				</div>
	</div>
				<!-- <a  href="#" style="text-align: center"> Read More ></a> -->
		</div>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('founding_leaders3')" onmouseout="contract('founding_leaders3')">
				<div class="card mb-3 teamcard" id="card3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/9.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Vani Dadi</h5>
				 <p class="card-text" style="padding-bottom: 20px"><%= __("About founding leader 2 title") %></p>
				<p id="founding_leaders3" class="toggleable"><%= __("About founding leader 3 text") %></p>
				</div>
	</div>
				<!-- <a  href="#" style="text-align: center"> Read More ></a> -->
		</div>
			</div>
			
			
			<!-- modal -->
			
	
	<!-- Modal -->
	<!-- <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  <div class="modal-dialog modal-xl" role="document">
		<div class="modal-content aboutmodal">
		  <div class="modal-header m-text" style="border: 0;">
			<h5 class="modal-title" id="exampleModalLongTitle">Mentors <i class="fas fa-caret-down"></i></h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<div class=container>
				<div class="row">
					<div class="col-3">
						<img src="/images/about/mentor/1.png" style="height: 30%">
					</div>
					<div class="col-9 m-text">
						<p class="mt-5">
							Chandra Pulamarasetti <br>
	Co-Founder - Buddha-CEO Quantum Foundation <br>
	Former IBM Exec , Entrepreneur 
	
						</p>
						<p>
							A successful entrepreneur, former Vice President of IBM Corporation, transformational meditation coach, and board member of few non-profits including Pyramid Valley International, Chandra Pulamarasetti co-founded Buddha-CEO Quantum Foundation to enable leaders to transform themselves with meditation practice and spiritual wisdom, and adopt to spirituo-social responsibility.</p>
	
	<p>Chandra attributes a lot of his business and life success including the recent acquisition of his software company,  to the powerful techniques based on meditation and manifestation. He has been practicing meditation for  21 years, teaches regularly to organizational & business leaders and professionals, and participates in several meditation service activities. </p>
	
	<p>Chandra is a computer science engineer from BITS, Pilani and a core technologist as well at his heart with 2 patents to his credit. Chandra lives in Bangalore with his wife Vani and two children Alekhya and Sanath.  Vani and Chandra run a meditation center called SoulTrends Meditation studio in Bangalore, and another meditation center along with her sister,  in Visakhapatnam rural areas to teach meditation to 500 schools.
	
						</p>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-3">
						<img src="/images/about/mentor/1.png" style="height: 30%">
					</div>
					<div class="col-9 m-text">
						<p class="mt-5">
							Chandra Pulamarasetti <br>
	Co-Founder - Buddha-CEO Quantum Foundation <br>
	Former IBM Exec , Entrepreneur 
	
						</p>
						<p>
							A successful entrepreneur, former Vice President of IBM Corporation, transformational meditation coach, and board member of few non-profits including Pyramid Valley International, Chandra Pulamarasetti co-founded Buddha-CEO Quantum Foundation to enable leaders to transform themselves with meditation practice and spiritual wisdom, and adopt to spirituo-social responsibility.</p>
	
	<p>Chandra attributes a lot of his business and life success including the recent acquisition of his software company,  to the powerful techniques based on meditation and manifestation. He has been practicing meditation for  21 years, teaches regularly to organizational & business leaders and professionals, and participates in several meditation service activities. </p>
	
	<p>Chandra is a computer science engineer from BITS, Pilani and a core technologist as well at his heart with 2 patents to his credit. Chandra lives in Bangalore with his wife Vani and two children Alekhya and Sanath.  Vani and Chandra run a meditation center called SoulTrends Meditation studio in Bangalore, and another meditation center along with her sister,  in Visakhapatnam rural areas to teach meditation to 500 schools.
	
						</p>
					</div>
				</div>
		  </div>
		</div>
	  </div>
	</div> -->
		
			<!-- <div class="col-lg-4 justify-content-center mentor">
				<div class="card mb-3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Card title</h5>
				 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
	</div>
				<a  href="#" style="text-align: center"> Read More ></a>
			</div>
			<div class="col-lg-4 justify-content-center mentor"  onmouseover="expand('founding_leaders3')" onmouseout="contract('founding_leaders3')">
				<div class="card mb-3 teamcard" id="card3">
				<img class="card-img-top rounded-circle" src="/images/about/mentor/9.png" alt="Card image cap">
				<div class="card-body justify-content-center">
				<h5 class="card-title" style="text-align: center">Vani Dadi</h5>
				 <p class="card-text">Vani Dadi is a senior meditation master, an experienced spiritual counsellor,</p>
				 <p id="founding_leaders3" class="toggleable">and a harmonious homemaker who attributes her abilities to her spiritual way of living. She feels grateful for imparting spiritual education to her children, her extended family and community. She has been practising meditation for 20 years now.</p>
			  </div>
	</div>
				<a  href="#" style="text-align: center"> Read More ></a>
			</div>
		</div>
		<div class="row justify-content-center" style="margin-top: 10%">
				<div class="col col-lg-6 text">
						<p>
							Flag Carriers
					</p>
				</div>
			</div>
		<div class="row">
		<%for (i=1;i<49;i++){ var key4='flag_carriers'+i;%>
			<div class="col-lg-4 col-6" onmouseover="expand('<%=key4%>')" onmouseout="contract('<%=key4%>')">
				<div class="card mb-3 mt-5 flagcard" id="card3">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
					   <p id="<%=key4%>" class="toggleable mt-5">Molestiae odit fugit cum. Perferendis fugiat quaerat dolorum est omnis. Atque qui rerum harum vel modi pariatur corrupti. Ipsam consequatur expedita aut accusantium neque iusto molestiae. Atque et fugiat voluptate nobis ut.</p>
				</div>
			  </div>
			</div>
		</div>
		</div> -->
		<!-- <%}%> -->
			<!-- <div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
		</div>
			<div class="row">
			<div class="col-4">
				<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
				</div>
			  </div>
			</div>
		</div>
			</div>
			<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div>
	   
			</div>
		</div>
					<div class="col-4">
					<div class="card mb-3 mt-5">
				   <div class="row no-gutters">
					<div class="col-md-4">
					  <img src="/images/programs/card.png" class="card-img" alt="...">
					</div>
				 <div class="col-md-8">
				 <div class="card-body">
					   <h5 class="card-title">Name of the person </h5>
			   </div>
			  </div>
			</div> -->
	   
			 </div>
		</div> 
		
	</section>
<section>
<div class="container mt-5">
	<div class="row">
			<div class="col d-flex justify-content-center logo3">
				<img src="/images/Logos/3.png">
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="col d-flex justify-content-center text">
				<h1><%= __("Partner Organisation") %></h1>
			</div>
		</div>

	<div class="row mt-5">
		<div class="col-lg-4">
			<div class="card card-partner mb-3" id="card3">
             <img class="card-img-top" src="/images/about/6.png" alt="Card image cap" style="height:110px; width: 130px;">
           <div class="card-body cardstyle mt-1">
			   <h5 class="card-title"><%= __("Pyramid Valley International") %></h5>
           </div>
         </div> 
		</div>
		<div class="col-lg-4">
			<div class="card card-partner mb-3" id="card2">
             <img class="card-img-top" src="/images/about/7.png" alt="Card image cap" style="height:110px; width: 130px;">
           <div class="card-body cardstyle mt-1">
			   <h5 class="card-title"><%= __("Quantum Life University") %></h5>
           </div>
         </div> 
		</div>
		<div class="col-lg-4">
			<div class="card card-partner mb-3" id="card1">
             <img class="card-img-top" src="/images/about/5.png" alt="Card image cap" style="height:70px; width: 200px;">
           <div class="card-body cardstyle mt-5">
			   <h5 class="card-title"><%= __("SoulTrends Meditation Studio") %></h5>
           </div>
         </div> 
		</div>
	</div>
	
	
	</div>	
</section>
<script>
	console.log(document.getElementById("nabout").childNodes)
	document.getElementById("nabout").childNodes[1].style.backgroundColor="#0771bc";
</script>




<%- include("partials/footer") %>