<%- include("partials/header") %>

<section>
	
<div class="row">
    <div class="thumbnail text-center">
        <img src="/images/programs/1.jpg" alt="" class="img-responsive w-100">
        <div class="caption-donate justify-content-center" id="contact">
            <div class="row">
				<div class="col-lg-12 img-text">
					<h1>
						<%= __("Contacts section title") %>
					</h1>
					<!-- <p>The foundation primarily relies on donations to run its activities and operations. </p> -->

<!-- <p class="mt-4">There are several costs involved in running the operations. The foundation is hiring teachers, facilitators, promotional team members, content team members, publishing team and operations team to carry out its activities in the first year. While some members are volunteers, few paid staff too are hired in critical roles. </p> -->

<!-- <p class="mt-4">In addition, the foundation incurs technology costs, promotional costs, digital content development costs including meditation music development, logistics costs and office space costs.</p>  -->

<p class="mt-4"><%= __("Contacts sections discription") %></p>
				</div>
			</div>
        </div>
    </div>
</div>

</section>
<section id="card">
		<div class="container">
			<div class="row justify-content-around">
				<div class="col-xl-3 mt-2">
					<div class="card contact-card" id="card4">
                             <div class="card-body cardstyle">
								  <h5 class="card-title" style="color: #f89334"><%= __("Contacts card newsletter signup title") %></h5>
                                <p class="card-text"><%= __("Contacts card newsletter signup discription") %></p>
								  <a href="https://www.events.buddhaceo.org/newsletter" target="_blank" class="btn btn-lg  button"  style="background-color: #7d7d7d; color: white; margin-top: 90px;"> <%= __("Sign Up") %> </a>
                            </div>
                        </div>
				</div>
				<div class="col-xl-3  mt-2">
					<div class="card contact-card" id="card1">
                             <div class="card-body cardstyle">
								  <h5 class="card-title" style="color: #73aa2e;"><%= __("Contacts card volunteer signup title") %></h5>
                                  <p class="card-text"><%= __("Contacts card volunteer signup discription") %></p>
								   <a href="https://docs.google.com/forms/d/e/1FAIpQLSfPLFtxWgRb1ZHr1XIjlNLYuWywf0gfuohJI6cF3RNcrZ7BgQ/viewform?usp=sf_link" class="btn btn-lg  button" target="_blank"  style="background-color: #73aa2e; color: white;"><%= __("Sign Up") %> </a>
                            </div>
                        </div>
				</div>
				<div class="col-xl-3 mt-2">
					<div class="card contact-card" id="card2">
                             <div class="card-body cardstyle">
								  <h5 class="card-title" style="color: #0771bc;"><%= __("Contacts general / event related queries title") %></h5>
                                <p class="card-text"><%= __("Contacts general / event related queries discription") %></p>
								  <a href="https://www.events.buddhaceo.org/contact" class="btn btn-lg button" target="_blank"  style="background-color: #0771bc; color: white; margin-top: 65px;"> <%= __("Sign Up") %> </a>
                            </div>
                        </div>
				</div>
				<div class="col-xl-3 mt-2">
					<div class="card contact-card" id="card3">
                             <div class="card-body cardstyle">
								  <h5 class="card-title" style="color: #ad63f6;"><%= __("Contacts corporate programs title") %></h5>
                                <p class="card-text"><%= __("Contacts corporate programs discription") %></p>
								  <a href="https://www.events.buddhaceo.org/contact" class="btn btn-lg button" target="_blank" style="background-color: #ad63f6; color: white; margin-top: 65px;"><%= __("Sign Up") %> </a>
                            </div>
                        </div>
				</div>
			</div>
		</div>
	</section>
<section style="margin-bottom: 10px;">
	<div class="row mt-5">
		<div class="col-12 text" style="text-align: center">
			<p>
				<strong><%= __("Contacts us discription") %></strong> 
			</p><br>
			<p>
				<strong><%= __("Email") %> </strong><a href="#">info@buddhaceofoundation.org</a><br>
		
				<strong><%= __("Phone") %> </strong><a href="#">+91 8328400224</a> </p>  
		</div>
	</div>

</section>
<script>
	console.log(document.getElementById("ncontact").childNodes)
	document.getElementById("ncontact").childNodes[1].style.backgroundColor="#ad63f6";
</script>

<%- include("partials/footer") %>