<%- include("partials/header") %>
 <section>
<div class="row" id="box-search">
    <div class="thumbnail text-center front col-sm-12">
        <img src="/images/corporate/3.jpg" alt="" class="img-responsive w-100">
        <div class="caption-corp">
            <div class="row justify-content-end">
				<div class="col-lg-5 img-text justify-content-end" id="corporate">
					<p>
						<%- __("Corporate programs description") %>
                            </p>
					<div>
						<a href="https://www.events.buddhaceo.org/contact" target="_blank"><button type="button" class="btn btn-primary btn-md button" style="margin-right: 100%;"><%= __("Register") %></button></a>
					</div>
					
				</div>
			</div>
        </div>
    </div>
</div>
	<!-- <p class=" d-sm-flex">
						The Buddha-CEO foundation in association with some of its partners, is offering its programs tailor made to large organizations, corporations and governments. All the                              programs are based on powerful practice of breath-mindfulness meditation and its benefits in gaining personal fulfilment and organizational growth.
                            </p> -->
</section>
<section> 
	<div id="cg1" class="d-none d-lg-flex">
		<img src="/images/corporate/4.png">
	</div>
	<div id="cg2" class="d-none d-lg-flex">
		<img src="/images/corporate/5.png">
	</div>
	<div id="cg3" class="d-none d-lg-flex">
		<img src="/images/corporate/4.png">
	</div>
	<!-- <div id="cg4" class="d-none d-lg-flex">
		<img src="/images/corporate/5.png">
	</div>
	<div id="cg5" class="d-none d-lg-flex">
		<img src="/images/corporate/4.png">
	</div>
	<div id="cg6" class="d-none d-lg-flex">
		<img src="/images/corporate/5.png">
	</div> -->
	
    <!-- <div class="container-fluid" id="testimonials">
		<div class="row justify-content-center">
			<div class="col-12 test">
			</div>
		</div>
		<div class="row mt-2 justify-content-center">
			<div class="col-lg-12"> -->
				
						<!-- Section: Testimonials v.2 -->
				<!-- <div class="row justify-content-center">
					<div class="col-lg-6  text-center">
						<div class="wrapper-carousel-fix"> -->
    <!-- Carousel Wrapper -->
    <!-- <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel"
      data-interval="false">
		 <ul class="carousel-indicators tindicators">
        <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1" data-slide-to="1"></li>
        <li data-target="#carousel-example-1" data-slide-to="2"></li>
      </ul> -->
      <!--Slides-->
      <!-- <div class="carousel-inner" role="listbox"> -->
        <!--First slide-->
        <!-- <div class="carousel-item active">
          <div class="testimonial twrap"> -->
            <!--Avatar-->
            <!-- <div class="avatar mx-auto mb-4 testimage">
              <img src="/images/about/mentor/1.png" class="rounded-circle img-fluid"
                alt="First sample avatar image">
            </div> -->
            <!--Content-->
			  <!-- <div class="tcontent">
				  <p class="mt-5">
              <i class="fas fa-quote-left"></i> “Health is not just about physical health, but it’s also about 
mental, emotional, spiritual and social well being, which results 
in good attitude and enthusiasm. This meditation program 
enhances all these aspects of life.”
            </p>
			  <hr> -->
          <!-- <h4 class="font-weight-bold">Anna Deynah</h4> -->
            <!-- <h6 class="font-weight-bold my-3">Padma Shri D. R. Kaarthikeyan
Former Director-CBI, NHRC, CRPF</h6>
			  </div>
            
          </div>
        </div> -->
        <!--First slide-->
        <!--Second slide-->
        <!-- <div class="carousel-item">
          <div class="testimonial twrap"> -->
            <!--Avatar-->
            <!-- <div class="avatar mx-auto mb-4 testimage">
              <img src="/images/about/mentor/1.png" class="rounded-circle img-fluid"
                alt="Second sample avatar image">
            </div> -->
            <!--Content-->
			  <!-- <div class="tcontent">
				  <p class="mt-5">
              <i class="fas fa-quote-left"></i> 
              <i class="fas fa-quote-left"></i> “Health is not just about physical health, but it’s also about 
mental, emotional, spiritual and social well being, which results 
in good attitude and enthusiasm. This meditation program 
enhances all these aspects of life.” </p>
			  <hr>
            <h4 class="font-weight-bold">Maria Kate</h4>
            <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
			  </div>
          </div>
        </div> -->
        <!--Second slide-->
        <!--Third slide-->
        <!-- <div class="carousel-item">
          <div class="testimonial twrap"> -->
            <!--Avatar-->
            <!-- <div class="avatar mx-auto mb-4 testimage">
              <img src="/images/about/mentor/1.png" class="rounded-circle img-fluid"
                alt="Third sample avatar image">
            </div> -->
            <!--Content-->
			  <!-- <div class="tcontent">
				  <p class="mt-5">
              <i class="fas fa-quote-left"></i>
              <i class="fas fa-quote-left"></i> “Health is not just about physical health, but it’s also about 
mental, emotional, spiritual and social well being, which results 
in good attitude and enthusiasm. This meditation program 
enhances all these aspects of life.”</p>
			  <hr>
            <h4 class="font-weight-bold">John Doe</h4>
			  <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>	
			  </div>
            
          </div>
        </div> -->
        <!--Third slide-->
      <!-- </div> -->
      <!--Slides-->
      <!--Controls-->
		<!-- <a class="carousel-control-prev d-lg-none" href="#carousel-example-1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next d-lg-none" href="#carousel-example-1" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
</a> -->
      <!--Controls-->
    <!-- </div> -->
    <!-- Carousel Wrapper -->
				      <!-- </div>
			     </div>
					<div class="d-none d-lg-flex">
						<a class="carousel-control-prev left tcara-l carousel-control" href="#carousel-example-1" role="button"
        data-slide="prev">
        <span class="icon-prev" aria-hidden="false"><i class=" white-text" ></i></span>
        <span><img src="/images/Body/il.png" style="height: 25px; width: 50px;" ></span>
      </a>
      <a class="carousel-control-next right tcara-r carousel-control" href="#carousel-example-1" role="button"
        data-slide="next">
        <span class="icon-next" aria-hidden="false"><i class="f white-text"></i></span>
         <span><img src="/images/Body/ir.png" style="height: 25px; width: 50px;"></span>
      </a> -->
					<!-- </div>
						
					
					
						</div>
					</div>
				</div> -->
	<!-- </div> -->
</section>
<!-- <section id="media">
	<div class="container">
		<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div>
		<div class="embed-responsive embed-responsive-16by9 mt-5">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div>
	</div>

</section> -->
<section class="d-none">
	<div class="container">
		<div class="row icorp d-none d-lg-flex">
			<div class="col">
				<img src="/images/corporate/6.jpg" class="img-responsive" id="c1">
			</div>
			<div class="col">
				<img src="/images/corporate/7.jpg" class="img-responsive" id="c2">
			</div>
			<div class="col">
				<img src="/images/corporate/8.png" class="img-responsive" id="c3">
			</div>
			<div class="col">
				<img src="/images/corporate/9.png" class="img-responsive" id="c4">
			</div>
			<div class="col">
				<img src="/images/corporate/1.png" class="img-responsive" id="c5">
			</div>
		</div>
	</div>
</section>
<section>
<div class="container">
	<div class="row mt-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p><%= __("Corporate programs card 1 description") %></p>
				<p class="mt-5"><%- __("Corporate programs card 2 description") %></p>
				<p class="mt-5"><%- __("Corporate programs card 3 description") %></p>
			</div>
		</div>
	<div class="row mt-5 objective objective-box justify-content-center">
			<div class="col col-lg-12 text">
					<p><%- __("Corporate programs card 4 description") %></p>
			</div>
		</div>
	<div class="row mt-2 build build-box justify-content-center">
			<div class="col col-lg-12 text">
					<p><%- __("Corporate programs card 5 description") %></p>
			</div>
		</div>
	<div class="row mt-2 establish establish-box justify-content-center">
			<div class="col col-lg-12 text">
					<p><%- __("Corporate programs card 6 description") %></p>
			</div>
		</div>
	<div class="row mt-2 another another-box justify-content-center">
			<div class="col col-lg-12 text">
					<p><%- __("Corporate programs card 7 description") %></p>
			</div>
		</div>
	<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-12 text">
					<p><%- __("Corporate programs card 8 description") %></p>
			</div>
		</div>
	<div class="row mt-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p><%= __("Corporate programs card 9 description") %></p>
					<p><%- __("Corporate programs card 10 description") %></p>
			</div>
		</div>
	</div>
</section>

<script>
	console.log(document.getElementById("ncorp").childNodes)
	document.getElementById("ncorp").childNodes[1].style.backgroundColor="#0771bc";
</script>

<%- include("partials/footer") %>