<%- include("partials/header") %>
 <section>
<div class="row">
    <div class="thumbnail text-center front col-sm-12">
        <img src="/images/donate/1.png" alt="" class="img-responsive w-100">
        <div class="caption-donate justify-content-center">
            <div class="row">
				<div class="col-lg-12 img-text">
					<h1>
						<%= __("Donate section title")%>
					</h1>
					<p><%= __("Donate section discription line 1")%></p>
          <p class="mt-4"><%= __("Donate section discription line 2")%></p>
<!-- <p class="mt-4 d-none d-lg-flex">In addition, the foundation incurs technology costs, promotional costs, digital content development costs including meditation music development, logistics costs and office space costs.</p>  -->

<!-- <p class="mt-4 d-none d-lg-flex">There are multiple ways we can stay connected, whether it is for a simple query or for a long term association. </p> -->
				</div>
			</div>
        </div>
    </div>
	</div>
</section> 
<section style="margin-top: 50px;">
	<div class="container" >
		<!-- <div class="card mb-3 mt-5 imgcard-donate" id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage-donate">
      <img src="/images/programs/card.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body ctext">
        <h5 class="card-title">Pyramid Valley Campus Infrastructure expansion
        </h5>
        <p>This campaign is to raise funds for the additional cabling infrastructure to be setup. Payments from these funds will be distributed to KEB and local internet service providers - for             their services in providing enhanced cabling and connectivity. Your contributions to this project will help serve the transformation journeys of millions more - efficiently. Please                make your generous contributions to this temple of inner-transformation.</p>
		  <button type="button" class="btn btn-primary btn-lg button" style="margin-left: 75%"><a href="https://milaap.org/fundraisers/support-facility-infrastructure-expansion" target="_blank" style="color:#ffffff;text-decoration:none"> Donate</a></button>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 imgcard-donate" id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage-donate">
      <img src="/images/programs/card.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body ctext">
        <h5 class="card-title">PSSM Spiritual Magazines Operations Fund
         </h5>
        <p>This campaign is to raise funds to continue the publication, printing and distribution of this life-transforming literature. Payments from this fund will cover the costs of designing,        printing and distributing the above set of PSSM magazines/ periodicals. PLEASE DONATE GENEROUSLY TO CONTINUE AND EXPAND THE CIRCULATION OF THESE INSIGHTFUL MAGAZINES. Your individual              contribution will transform hundreds of lives through this gift of education and inspiration.</p>
		  <button type="button" class="btn btn-primary btn-lg button" style="margin-left: 75%"><a href="https://milaap.org/fundraisers/support-pyramid-spiritual-societies-movement" target="_blank" style="color:#ffffff;text-decoration:none"> Donate</a></button>
      </div>
    </div>
  </div>
</div> -->
		<div class="card mb-3 mt-2 imgcard-donate" id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage-donate">
      <img src="/images/programs/card.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body ctext">
        <%- __("Donate card title") %>
        <p><%- __("Donate card discription") %></p>
		  <button type="button"  class="btn btn-primary btn-lg button" style="float: right;"><a href=" https://milaap.org/fundraisers/support-buddha-ceo-quantum-foundation?utm_source=whatsapp&utm_medium=thank_you&mlp_referrer_id=3654504" target="_blank" style="color:#ffffff;text-decoration:none"><%= __("Donate") %></a></button>      
      </div>      
    </div>
  </br>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
          <%= __("Donate account discription") %>
      </div>
      <div class="col-md-1">
        </div>
      </div>
      <div class="row" style="padding-top: 10px">
        <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <%- __("Donate account detail") %>
          </div>
          <div class="col-md-1">
            </div>
        </div>
        </br></br>
        <div class="row" style="padding-top: 10px">
          <div class="col-md-1">
            </div>
            <div class="col-md-10" style="font-weight: 300">
              <%- __("Donation instruction message") %>
            </div>
            <br />
            <div class="col-md-1">
              </div>          
          </div>  
          <div class="row" style="padding-top: 10px">
            <div class="col-md-1">
              </div>
              <div class="col-md-10" style="font-weight: 300">
                <%- __("Donation instruction message2") %>
              </div>
              <br />
              <div class="col-md-1">
                </div>          
          </div>
  </div>
</div>
		
		
		
	</div>

</section>
<script>
	console.log(document.getElementById("ndonate").childNodes)
	document.getElementById("ndonate").childNodes[1].style.backgroundColor="#73aa2e";
</script>

<%- include("partials/footer") %>