<%- include("partials/header") %>
<section>
	
<div class="row" id="box-search">
    <div class="thumbnail text-center front col-sm-12">
        <img src="/images/programs/1.jpg" alt="" class="img-responsive w-100" style="min-width: 0px;">
        <div class="caption justify-content-center">
            <div class="row">
				<div class="col-lg-6 d-none d-lg-flex align-items-center logo" >
					<img src="/images/Logos/4.png" class="img-responsive" style="margin-left: 200px;">
				</div>
				<div class="col-lg-5 img-text">
					<h1>
						<%= __("Our Programs") %>
					</h1>
					<p>
            <%- __("Event our programs description") %>
					</p>
				</div>
			</div>
			<div id="arrow">
				<a href="#cards"><img src="/images/programs/2.png" class="img-responsive"></a>
			</div>
        </div>
    </div>
</div>

</section>
<div id="pg1" class="d-none d-lg-flex">
	<img src="/images/programs/3.png">
</div>
<div id="pg2" class="d-none d-lg-flex">
	<img src="/images/programs/4.png">
</div>
<section>
    <div class="row justify-content-around" style="margin-top: 10%">
        <div class="col-lg-4">
          <!-- <a href="https://www.events.buddhaceo.org/pastevents" class="btn btn-lg w-100 button" style="background-color: #0771bc">
            <strong style="font-size: 22px; color: white;">Past Programs</strong>
          </a> -->
        </div>
        <div class="col-lg-4">
          <a href="https://www.events.buddhaceo.org/" class="btn btn-lg w-100 button" style="background-color: #0771bc">
            <strong style="font-size: 22px; color: white;"><%= __("Upcoming Programs") %></strong>
          </a>
        </div>
      </div>
</section>
<section id="cards">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12" id="prog">
			<p>
        <%= __("Event section description") %>
			</p>
		</div>
	</div>
	<div class="card mb-3 mt-5 prog-card" id="card1">
  <div class="row no-gutters">
    <div class="col-lg-4 ctitle">
      <p style="color: #73aa35">
        <%= __("Event section card 1 title") %>
		</p>
    </div>
    <div class="col-lg-8">
      <div class="card-body ctext">
        <p>
          <%- __("Event section card 1 description") %>
       </p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 prog-card" id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 ctitle">
      <p style="color: #00008B">
        <%= __("Event section card 2 title") %>
		</p>
    </div>
    <div class="col-md-8">
      <div class="card-body ctext">
        <p><%- __("Event section card 2 description") %>
       </p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 prog-card" id="card3">
  <div class="row no-gutters">
    <div class="col-md-4 ctitle">
      <p style="color: #ad63f6">
        <%= __("Event section card 3 title") %>
		</p>
    </div>
    <div class="col-md-8">
      <div class="card-body ctext">
        <p>
          <%= __("Event section card 3 description") %>
       </p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 prog-card" id="card4">
  <div class="row no-gutters">
    <div class="col-md-4 ctitle">
      <p style="color: #f89334">
        <%= __("Event section card 4 title") %>
		</p>
    </div>
    <div class="col-md-8">
      <div class="card-body ctext">
        <p> 
          <%= __("Event section card 4 description") %>
       </p>
      </div>
    </div>
  </div>
</div>
	</div>
</section>
<div id="pg3" class="d-none d-lg-flex">
	<img src="/images/programs/3.png">
</div>
<div id="pg4" class="d-none d-lg-flex">
	<img src="/images/programs/4.png">
</div>
<section id="programs">
<div class="container">
	<div class="row">
			<div class="col d-flex justify-content-center logo2">
				<img src="/images/Logos/5.png">
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1><%= __("Workshops & Courses") %></h1>
			</div>
		</div>
	<div class="card mb-3 mt-5 imgcard " id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage">
      <img src="/images/programs/5.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body ctext">
        <h5 class="card-title"> <%= __("Workshops & Courses - card 1 title") %> </h5>
        <p> <%- __("Workshops & Courses - card 1 description") %> </p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-5 imgcard " id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage">
      <img src="/images/programs/6.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body ctext">
        <h5 class="card-title"> <%= __("Workshops & Courses - card 2 title") %> </h5>
        <p><%= __("Workshops & Courses - card 2 description") %></p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 imgcard" id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage">
      <img src="/images/programs/7.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body ctext">
          <!-- <a href="" target="_blank" style="cursor: pointer;"></a> -->
        <h5 class="card-title"> <%= __("Workshops & Courses - card 3 title") %>  </h5>
        <p><%- __("Workshops & Courses - card 3 description") %></p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 imgcard" id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage">
      <img src="/images/programs/8.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body ctext">
        <h5 class="card-title"> <%= __("Workshops & Courses - card 4 title") %> </h5>
        <p><%= __("Workshops & Courses - card 4 description") %></p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 imgcard" id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage">
      <img src="/images/programs/9.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body ctext">
        <h5 class="card-title"> <%= __("Workshops & Courses - card 5 title") %> </h5>
        <p><%= __("Workshops & Courses - card 5 description") %></p>
      </div>
    </div>
  </div>
</div>
	<div class="row justify-content-around" style="margin-top: 10%">
		<div class="col-lg-4">
			<a href="https://www.events.buddhaceo.org/pastevents" class="btn btn-lg w-100 button" style="background-color: #0771bc">
				<strong style="font-size: 22px; color: white;"><%= __("Past Programs") %></strong>
			</a>
		</div>
		<div class="col-lg-4">
			<a href="https://www.events.buddhaceo.org/" class="btn btn-lg w-100 button" style="background-color: #0771bc">
				<strong style="font-size: 22px; color: white;"><%= __("Upcoming Programs") %></strong>
			</a>
		</div>
	</div>
	</div>
</section>
<script>
	console.log(document.getElementById("nevent").childNodes)
	document.getElementById("nevent").childNodes[1].style.backgroundColor="#73aa2e";
</script>	
	


<%- include("partials/footer") %>