 <div class="row mt-5">
    <%for (i=1;i<5;i++){ var key1='mentors'+i;%>
		<div class="col-lg-3 justify-content-center mentor" onmouseover="expand('<%=key1%>')" onmouseout="contract('<%=key1%>')">
			<div class="card mb-3 teamcard" id="card3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <p id="<%=key1%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
		<!-- <a style="text-align: center" data-toggle="modal" href="#exampleModalLong"> Read More ></a> -->
    </div> 
    <%}%> 
	 <div class="row mt-5">
    <%for (i=1;i<4;i++){ var key2='apex_council'+i;%>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('<%=key2%>')" onmouseout="contract('<%=key2%>')">
			<div class="card mb-3 teamcard" id="card3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <p id="<%=key2%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
			<a class="d-none" style="text-align: center" data-toggle="modal" href="#exampleModalLong"> Read More ></a>
    </div>
    <%}%>
		 <div class="row mt-5">
    <%for (i=1;i<4;i++){ var key3='founding_leaders'+i;%>
		<div class="col-lg-4 justify-content-center mentor" onmouseover="expand('<%=key3%>')" onmouseout="contract('<%=key3%>')">
			<div class="card mb-3 teamcard" id="card3">
			<img class="card-img-top rounded-circle" src="/images/about/mentor/1.png" alt="Card image cap">
            <div class="card-body justify-content-center">
            <h5 class="card-title" style="text-align: center">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p id="<%=key3%>" class="toggleable">Repellat consequatur cumque et dolores expedita nostrum. Et tempora laboriosam ea velit perspiciatis. Illum voluptatem quia quidem doloremque quia consequatur et quis. A voluptates eius quia vitae cupiditate. Et non facilis atque dignissimos molestiae similique dolorem eum. Facilis architecto ipsam quidem amet sunt eligendi.</p>
            </div>
</div>
		<!-- <a  style="text-align: center" data-toggle="modal" href="#exampleModalLong"> Read More ></a> -->
    </div>
    <%}%>